{% extends "base.html" %}
{% load i18n static %}
{% load djangoplicity_utils %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="{% static "blog/style.css" %}" />
{% endblock %}

{% block site_title %}{{ WEBSITE_NAME }} - Blog {{ object.title }}{% if block.super%} | {{ block.super }}{% endif %}{% endblock %}</title>

{% block content_area %}

<div class="container" id="blog">
{% if request.NO_TRANSLATION %}
<div class="notranslation-alert alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>{% trans "Sorry!" %}</strong> {% trans "This page is not yet available in your preferred language, so we're displaying the original version instead." %}
</div>
{% endif %}

<div class="row">
    {% include "archives/post/left-column.html" with post=object %}

    <div class="col-md-10">
    {% for post in object_list %}
        <div class="post post-list">
            {% if perms.blog.change_post %}
            <div class="edit-link">
                <a class="btn btn-primary btn-sm" href="{% url 'admin_site:blog_post_change' post.slug %}" role="button">Edit</a>
            </div>
            {% endif %}
            <a href="{% url 'blog_detail' post.slug %}">
            <div class="header">
                <img class="banner" src="{{ post.banner.resource_banner1920.url }}">
                <div class="title">
                    <h1>{{ post.title }}</h1>
                    {% if post.subtitle %}
                        <h2>{{ post.subtitle }}</h2>
                    {% endif %}
                    {% if post.authordescription_set.all %}
                    <div class="author">
                        {% for author in post.authordescription_set.all %}
                            {% if author.description %}{{ author.description }}{% endif %}
                            {{ author.author.name }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="date">{{ post.release_date|date }}</div>
                <div class="category">
                    <a href="{% url 'blog_query_category' post.category.slug %}">
                        {{ post.category }}
                    </a>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

{% paginator paginator page_obj paginator_url paginator_prefix paginator_params %}
{% statusbar paginator page_obj browsers searchable search_url search_str  %}

</div> <!-- #body -->
{% endblock %}
