{% load i18n %}
{% load static %}
<div class="col-md-2" id="blog-header">
    <div class="blog-logo-wrapper">
        <a href="/public/" class="home-link">
            <div class="sprites-esologo"></div>
            <span>European<br>Southern<br>Observatory</span>
        </a>
        <a href="/public/blog/">
            <img src="{% static 'blog.png' %}" alt="ESOblog">
            <div class="caption">
                {% trans 'Behind the scenes at ESO: Showing you the road to the stars' %}
            </div>
        </a>
        <a href="/public/blog/feed/" class="rss">
            <span class="fa fa-rss"></span>
        </a>
    </div>
</div>
